
@{
    ViewData["Title"] = "Election Results";
}
@model ViewModel;

<div class="container">
    <div class="container">
        <h3><b>Election Results</b></h3>
        <div class="row">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Election Name</th>
                        <th>Election Date</th>
                        <th>Winner</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var results in Model.ViewResults)
                    {

                        if (results.WinnerID != 0)
                        {
                            <tr>
                                <td>@results.ElectionName</td>
                                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</td>
                                <td><a asp-area="admin" asp-controller="Candidate" asp-action="GetCandidate" asp-route-id=@results.WinnerID>@results.Winner</a></td>
                                <td>@results.WinnerVote</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@results.ElectionName</td>
                                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</td>
                                <td>@results.Winner</td>
                                <td>@results.WinnerVote</td>
                            </tr> 
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


