
@{
    ViewData["Title"] = "Election Results";
}
@model ViewModel;

<div class="container">
    <div class="container">
        <h3><b>Election Results</b></h3>
        <div class="row">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th><h5><b>Election Name</b></h5></th>
                        <th><h5><b>Election Date</b></h5></th>
                        <th><h5><b>Winner</b></h5></th>
                        <th><h5><b>Vote</b></h5></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var results in Model.ViewResults)
                    {

                        if (results.WinnerID != 0)
                        {
                            <tr>
                                <td><b>@results.ElectionName</b></td>
                                <td><b>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</b></td>
                                <td><b><a asp-area="admin" asp-controller="Candidate" asp-action="GetCandidate" asp-route-id=@results.WinnerID>@results.Winner</a></b></td>
                                <td><b>@results.WinnerVote</b></td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td><b>@results.ElectionName</b></td>
                                <td><b>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</b></td>
                                <td><b>@results.Winner</b></td>
                                <td><b>@results.WinnerVote</b></td>
                            </tr> 
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


