
@{
    ViewData["Title"] = "Election Results";
}
@model ViewModel;

<div class="container">
    <div class="container">
        <h3><b>Election Results</b></h3>
        <div class="row">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Election Name</th>
                        <th>Election Date</th>
                        <th>Winner</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var results in Model.ViewResults)
                    {

                        if (results.WinnerID != 0)
                        {
                            @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/images/thequint_2021-02_00c2feea-de12-4212-b58b-cd883723960c_Election.jpg" width="100%" height="200" alt="Photo" />
                        <div class="card-body">
                            <h3 class="card-title"><b>@results.ElectionName</b></h3>
                            <p class="card-text">Held on   <b>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</b> </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p>  <b>Winner:   <font color="blue"> <a asp-area="admin" asp-controller="Candidate" asp-action="GetCandidate" asp-route-id=@results.WinnerID> @results.Winner</a></font></b></p>
                                </div>
                                <div class="btn-group">
                                    <p><b>Vote: @results.WinnerVote</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                            <tr>
                                <td>@results.ElectionName</td>
                                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</td>
                                <td>@results.Winner</td>
                                <td>@results.WinnerVote</td>
                                @*<td><a asp-area="admin" asp-controller="Registration" asp-action="DeleteSingleElection" asp-route-id=@elections.Id class="btn btn-sm btn-danger">Delete</a></td>*@
                            </tr>
                        }
                        else
                        {
                            @*<div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/images/thequint_2021-02_00c2feea-de12-4212-b58b-cd883723960c_Election.jpg" width="100%" height="200" alt="Photo" />
                        <div class="card-body">
                            <h3 class="card-title">@results.ElectionName</h3>
                            <p class="card-text">Held on   <b>@results.ElectionDate</b> </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p>  <b>Winner:   <font color="blue">@results.Winner</font></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                            <tr>
                                <td>@results.ElectionName</td>
                                <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", results.ElectionDate))</td>
                                <td>@results.Winner</td>
                                <td>@results.WinnerVote</td>
                                @*<td><a asp-area="admin" asp-controller="Registration" asp-action="DeleteSingleElection" asp-route-id=@elections.Id class="btn btn-sm btn-danger">Delete</a></td>*@
                            </tr> 
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


