
@{
    ViewData["Title"] = "Registration";
}
@model ApiRecordFormData;

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    .form-control {
        height: 30px;
        box-shadow: none;
        color: #969fa4;
    }

    .error {
        color: red;
    }

    .form-control:focus {
        border-color: #5cb85c;
    }

    .form-control, .btn {
        border-radius: 3px;
    }

    .signup-form {
        width: 450px;
        margin: 0 auto;
        padding: 20px 0;
        font-size: 15px;
    }

        .signup-form h5 {
            color: #636363;
            margin: 0 0 15px;
            position: relative;
            text-align: center;
        }

            .signup-form h5:before, .signup-form h5:after {
                content: "";
                height: 2px;
                width: 30%;
                background: #d4d4d4;
                position: absolute;
                top: 50%;
                z-index: 2;
            }

            .signup-form h5:before {
                left: 0;
            }

            .signup-form h5:after {
                right: 0;
            }

        .signup-form .hint-text {
            color: #999;
            margin-bottom: 30px;
            text-align: center;
        }

        .signup-form form {
            color: #999;
            border-radius: 3px;
            margin-bottom: 15px;
            background: #f2f3f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 25px;
        }

        .signup-form .form-group {
            margin-bottom: 0px;
        }

        .signup-form input[type="checkbox"] {
            margin-top: 5px;
        }

        .signup-form .btn {
            font-size: 16px;
            font-weight: bold;
            min-width: 140px;
            outline: none !important;
        }

        .signup-form .row div:first-child {
            padding-right: 10px;
        }

        .signup-form .row div:last-child {
            padding-left: 10px;
        }

        .signup-form a {
            color: #fff;
            text-decoration: underline;
        }

            .signup-form a:hover {
                text-decoration: none;
            }

        .signup-form form a {
            color: #5cb85c;
            text-decoration: none;
        }

            .signup-form form a:hover {
                text-decoration: underline;
            }
</style>
@if (@Model.ApiClasses.ApiName != null && @Model.ElectionVoterCheck.NID == null)
{
    <body>
        <div class="signup-form">
            <form method="post" asp-route-returnUrl="@Model.ReturnUrl" asp-area="" asp-controller="Account" asp-action="Register" asp-antiforgery="true" enctype="multipart/form-data">
                <h5>Sign Up</h5>
                <div class="form-group">
                    <b><label asp-for="FirstName"></label></b>
                    <input asp-for="FirstName" class="form-control" value="@Model.ApiClasses.ApiName" readonly>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <b><label asp-for="DateOfBirth"></label></b>
                            <input type="datetime" asp-for="DateOfBirth" class="form-control" value="@Model.ApiClasses.ApiDateOfBirth" readonly>
                        </div>
                        <div class="col-md-6">
                            <b><label asp-for="NID"></label></b>
                            <input asp-for="NID" class="form-control" value="@Model.ApiClasses.ApiNid" readonly>
                        </div>
                    </div>
                 </div>
                <div class="form-group">
                    <b><label asp-for="Email"></label></b>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <b><label asp-for="Password"></label></b>
                                <input asp-for="Password" class="form-control"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <b><label asp-for="ConfirmPassword"></label></b>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></label>
            </div>*@
                    <br />
                    <div class="form-group">
                        <button type="submit" value="Send" class="btn btn-success btn-lg btn-block">Register Now</button>
                    </div>
                    <div class="text-center">Already have an account? <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Sign in</a></div>
            </form>
        </div>
    </body>
}
else
{
<div class="container">
    <br />
    <br />
    <font color="red"><h3><b>Please enter your valid NID number for registration.</b></h3></font>
</div>
    
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
